<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specific Trip Details</title>
</head>
<body>
    <h1 class="text-center text-5xl color-mine font-extrabold pt-5 text-shadow">Trip Details</h1>
    <div class="blog-container mx-64 mt-10 px-10">
        <strong><h3 class="color-mine text-4xl text-center pt-5">Trip To: {{trip.city}}, {{trip.state}}</h3></strong><br>
                        <strong class="text-2xl color-mine">Activities:</strong>
                        <ul>
                            {{#each trip.activities}}
                                <strong><li class="text-xl pl-5">~ {{this.activity}}</li></strong>
                                <li class="text-lg pl-12 pb-2">{{this.description}}</li>
                            {{/each}}
                        </ul>
                        <strong class="text-2xl color-mine">Accessories:</strong> 
                        <ul class="mb-3">
                            {{#each trip.accessories.items}}
                                <li class="text-lg pl-10">~ {{this}}</li>
                            {{/each}}
                        </ul>
                        <strong class="text-2xl color-mine mt-5">Fun Fact:</strong><br> <span class="text-lg">{{trip.funFact}}</span><br>
        <p class="flex justify-around py-5 text-3xl"><strong><span class="color-mine">City:</span> {{trip.city}}</strong>  <strong><span class="color-mine">State: </span>{{trip.state}} </strong> <strong><span class="color-mine">Month:</span> {{trip.month}}</strong> </p>
        <div class="text-center">
            <button id="click" class="btn-delete-trip text-3xl text-white text-shadow my-5" data-id="{{trip.id}}">Delete </button>
        </div>
    </div>
    <div class="text-center">
        <a href="/trips"><button id="click" class="go-back text-4xl text-black text-shadow my-10 font-extrabold" style="background-color:#99F2CD">Go back! </button></a>
    </div>

    {{!-- Perhaps run the weather.js script/util here and display the weather as cards??   --}}
</body>
</html>

<script src="/js/delete-trip.js"></script>